#carouselExample {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-bottom: 5px solid #C32E42;
    margin-bottom: 15vh;
    width: 100%;
}

.bg-img-1 {
    background-image: url('../images/chocolateria/Foto1.png');
}

.bg-img-2 {
    background-image: url('../images/chocolateria/Foto1Blur.png');
}

.bg-img-3 {
    background-image: url('../images/chocolateria/Foto2.png');
}

.bg-img-4 {
    background-image: url('../images/chocolateria/Foto2Blur.png');
}

.carousel-image {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}