body {
    background-image: url(../images/backgrounds/background.png);
    background-position: center;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

body > header {
    background: #b01c40;
    position: fixed;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.25);
    padding: 0 15vh;
}

#logo-cabecalho {
    height: 70px;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navegacao {
    box-sizing: border-box;
}

#navegacao-lista {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: "Lexend";
    text-align: center;
    gap: 2vw;
}

.navegacao-link {
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 7px;
    text-decoration: none;
    color: #e3e3e3;
    position: relative;
    letter-spacing: 0.5px;
}

.navegacao-link:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    border-radius: 40px;
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}

.navegacao-link:hover {
    color: #ffffff;
}

.navegacao-link:hover:after {
    width: 100%;
}

#carouselExample {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-bottom: 5px solid #C32E42;
    margin-bottom: 15vh;
    width: 100%;
}

.bg-img-1 {
    background-image: url('../images/chocolateria/Foto1.png');
}

.bg-img-2 {
    background-image: url('../images/chocolateria/Foto1Blur.png');
}

.bg-img-3 {
    background-image: url('../images/chocolateria/Foto2.png');
}

.bg-img-4 {
    background-image: url('../images/chocolateria/Foto2Blur.png');
}

.carousel-image {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.carousel-content {
    position: absolute;
    right: 15%;
    bottom: 40%;
    z-index: 20;
    color: white;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 700px;
}

.carousel-content h2 {
    font-family: "Signika" sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    position: relative;
    color: #C32E42;
    font-size: 3.5rem;
    padding-bottom: 20px;
    animation:carouselCatching 0.4s linear 0.6s backwards;
}

@keyframes carouselCatching {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}


.carousel-content p {
    font-family: "Lexend";
    color: #ffffff;
    font-weight: bold;
    font-size: 1.375rem;
    animation:carouselSubtext 2s 1.3s backwards;
}

@keyframes carouselSubtext {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
}

#identificador {
    width: 100%;
    position: relative;
    margin-bottom: 20vh;
}

#seta {
    width: 51px;
    height: 45px;
    background-image: url('../images/icones/seta.png');
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation:seta-baixo 0.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes seta-baixo {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

.titulo {
    margin-top: 150px;
    padding-top: 100px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 6.25rem;
    color: #931834;
    animation:fade-in-pop 0.4s linear;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes fade-in-pop {
    0% {
        scale: 0.8;
        opacity: 0;
    }

    70% {
        scale: 1.05;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

#isa {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    align-items: center;
    width: 100%;
}

#imagem-isa {
    margin-left: 12vw;
    animation:fade-in-left linear;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

#isa p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;
    height: 200px;
    padding: 0px 150px;
    background: #C32E42;
    border-radius: 180px 0px 0px 180px;
    font-family: "Lexend";
    font-size: 1.375rem;
    color: #ffffff;
    animation:fade-in-right linear;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

#doce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    width: 100%;
}

#imagem-doce {
    margin-right: 12vw;
    animation:fade-in-right linear;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

#doce p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;
    height: 200px;
    padding: 0px 150px;
    background: #C32E42;
    border-radius: 0px 180px 180px 0px;
    font-family: "Lexend";
    font-size: 1.375rem;
    color: #ffffff;
    animation:fade-in-left linear;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        scale: 0.8;
        transform: translateX(-200px);
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        scale: 0.8;
        transform: translateX(200px);
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.localizacao {
    display: flex;
    width: 100%;
    height: 580px;
    margin-top: 100px;
    align-items: center;
    animation:fade-in-basic linear;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes fade-in-basic {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
}

.localizacao img {
    width: 850px;
}

.descreve-localizacao {
    display: flex;
    background: #6B1924;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 120px;
    width: 100%;
    height: 580px;
}

.descreve-localizacao p {
    font-family: 'Lexend';
    font-size: 1.375rem;
    color: #ffffff;
    text-align: center;
    font-weight: 100;
}

#botao-localizacao {
    font-family: 'Lexend';
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #C32E42;
    border: none;
    border-radius: 180px;
    padding: 15px 150px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

#botao-localizacao:hover {
    scale: 1.10;
    transition: all 0.2s ease;
}

#botao-localizacao:active {
    background-color: #930c1e;
    transition: 0.1s linear;
}

#blocos-cardapios {
    margin-top: 100px;
    font-family: 'Lexend';
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secao-cardapio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 50px 150px;
    animation:fade-in-pop linear;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

.parte-superior-cardapio {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.subtitulo {
    color: #6B1924;
    font-weight: bolder;
    font-size: 1.75rem;
    letter-spacing: 0.5px;
    text-align: center;
}

.parte-superior-cardapio img {
    height: 80px;
}

.btn-cardapio {
    margin: 40px;
    height: 45px;
    padding: 0px 90px;
    border-radius: 180px;
    border: none;
    background-color: #C32E42;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: bolder;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-cardapio:hover {
    scale: 1.05;
    transition: 0.1s linear;
}

.btn-cardapio:active {
    background-color: #930c1e;
    transition: 0.05s linear;
}

#contate-nos {
    height: 900px;
    background-color: #6B1924;
}

.titulo2 {
    margin-top: 150px;
    padding-top: 100px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 6.25rem;
    color: #ffffff;
    animation:fade-in-pop 0.4s linear;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

#secao-contato {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 15vw;
    align-items: center;
    animation:fade-in-basic ease-in-out;
    animation-range: cover 0% cover 40%;
    animation-timeline: view();
}

#secao-contato img {
    width: 450px;
}

#textos-contato {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#textos-contato > header {
    font-family: 'Lexend';
    text-align: center;
    color: #ffffff;
    font-size: 1.625rem;
}

#textos-contato > p {
    font-family: 'Lexend';
    text-align: center;
    color: #ffffff;
    font-weight: 18px;
    font-size: 1.25rem;
}

#imagens-contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#imagens-contato img {
    height: 60px;
    width: 60px;
}

#textos-contato > footer {
    margin-top: 20px;
    font-size: 0.75rem;
    color: #ffffff;
    text-align: center;
}

#developed {
    margin-top: 10vh;
    font-size: 1rem;
    text-align: center;
    color: #e3e3e3;
}

@media screen and (max-width: 1300px) {
    body > header {
        border-radius: 0;
    }
}