html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Comfortaa';
}

body {
    background-image: url('../images/backgrounds/background.png');
    background-size: cover;
}

.navbar {
    background-color: #b01c40;
    top: 0;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.navbar-brand img {
    height: 3.5rem;
}

.navbar-nav a {
    color: #ffffff;
}

.carousel-container {
    margin-top: 82px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.25);
    margin-bottom: 25vh;
}

.carousel-inner {
    border-bottom: 0.6vh solid #C32E42;
}

.bg-img-1 {
    background-image: url('../images/chocolateria/Photo1.png');
}

.bg-img-2 {
    background-image: url('../images/chocolateria/Photo1Blur.png');
}

.bg-img-3 {
    background-image: url('../images/chocolateria/Photo2.png');
}

.bg-img-4 {
    background-image: url('../images/chocolateria/Photo2Blur.png');
}

.carousel-image {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#arrow-id {
    width: 100%;
    height: 2.75rem;
    position: relative;
}

#arrow {
    height: 2.75rem;
    width: 3.125rem;
    background-image: url('../images/icons/arrow.png');
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    animation:downArrow 0.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes downArrow {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

.title {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #931834;
    font-weight: 500;
    text-align: center;

    animation:fadeInBasic 1ms linear;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

@keyframes fadeInBasic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInPop {
    0% {
        opacity: 0%;
    }
    80% {
        opacity: 1;
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

#nossa-historia, #onde-estamos, #cardapios, #contate-nos {
    padding-top: 10vh;
    padding-bottom: 15vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vh;
    align-items: center;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vh;
}

#image-isa, #image-candy {
    width: 40vw;
    animation:fadeInPop 1ms ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.isa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.candy {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
}

.isa p, .candy p {
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    border: 1em solid #C32E42;
    padding-inline: 3vw;
    padding-block: 3vh;
    border-radius: 40px;
    background-color: #C32E42;

    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
}

.isa p {
    animation:fadeInRight 1ms ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    100% {
        opacity: 1;
    }
}

.candy p {
    animation:fadeInLeft 1ms ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    100% {
        opacity: 1;
    }
}

.local {
    animation:fadeInBasic 1ms ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.local-photo {
    width: 100vw;
}

.local-description {
    background: #6B1924;
    color: #ffffff;
    font-size: 1.25rem;
    text-align: center;
    padding: 5vh 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.local-btn {
    font-family: 'Petrona', serif;
    color: #ffffff;
    letter-spacing: 0.075rem;
    text-transform: capitalize;
    font-weight: bold;

    border: none;
    text-decoration: none;
    padding: 1vh 15vw;
    border-radius: 180px;
    background: #C32E42;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.local-btn:active {
    background: #f52757;
    scale: 1.05;
    transition: 0.2s linear;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 13vh;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4vh;
}

#menu1, #menu3, #menu5 {
    animation:fadeInRight 1ms ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

#menu2, #menu4 {
    animation:fadeInLeft 1ms ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu-title {
    width: 35vw;
    text-align: center;
    font-family: 'Petrona', serif;
    font-size: 2rem;
    color: #6B1924;
}

.menu-superior img {
    height: 6.5vh;
}

.menu-btn {
    border: none;
    text-decoration: none;
    padding: 1vh 15vw;
    border-radius: 180px;
    background: #C32E42;

    font-size: 1.25rem;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.075rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.menu-btn:active {
    scale: 1.05;
    background: #f52757;
    transition: 0.2s linear;
}

#contate-nos {
    background: #6B1924;
    width: 100%;
}

.footer-title {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #ffffff;
    font-weight: 500;
    text-align: center;

    animation:fadeInPop 1ms linear;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
    align-items: center;
}

.footer-logo {
    height: 30vh;
    animation:fadeInBasic 1ms linear;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7vh;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    align-items: center;

    text-align: center;
    color: #ffffff;
}

.catchy {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

.contact-text p {
    font-size: 1.25rem;
}

.footer-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-link {
    height: 7vh;
}


@media (min-width: 768px) {
    .navbar {
        border-radius: 0 0 40px 40px;
    }

    .carousel-container {
        margin-top: 0;
        height: 80vh;
        margin-bottom: 12vh;
    }

    .carousel-image {
        height: 80vh;
    }

    .title {
        font-size: 6.25rem;
    }

    .history {
        gap: 5vh;
        width: 100%;
    }

    .isa, .candy {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 5vw;
    }

    .isa p {
        border-radius: 180px 0 0 180px;
    }

    .candy p {
        border-radius: 0 180px 180px 0;
    }
    
    #image-isa, #image-candy {
        width: 11vw;
    }

    #image-isa {
        transform: translateX(10vw);
    }

    #image-candy {
        transform: translateX(-10vw);
    }

    .local {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        width: 100%;
        height: 63vh;
    }

    .local-photo {
        width: 40vw;
    }

    .local-description {
        display: flex;
        justify-content: center;
        gap: 12vh;
        width: 100%;
    }

    .local-btn {
        padding: 1.5vh 8vw;
        font-size: 1.5rem;
    }

    .local-btn:hover {
        scale: 1.05;
        transition: 0.2s ease-in-out;
    }

    .menus {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-title {
        width: 15vw;
    }

    .menu-btn {
        padding: 1vh 7vw;
    }

    .menu-btn:hover {
        scale: 1.05;
        transition: 0.2s ease-in-out;
    }

    #menu1, #menu2, #menu3, #menu4, #menu5 {
        animation:fadeInPop 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 30%;
    }

    .contact-section {
        flex-direction: row;
        animation:fadeInBasic 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 30%
    }

    .footer-title {
        font-size: 6.25rem;
    }
    
    .footer-logo {
        height: 50vh;
    }
    
}